// defaults
:root {
  --ff-body: 'Chivo', sans-serif;

  // ** colours

  --clr-primary-400: #c2cbe5;

  --clr-accent-300: #b3ffe2;
  --clr-accent-400: #54e6af;

  --clr-neutral-100: #ffffff;
  --clr-neutral-400: #5a668a;
  --clr-neutral-700: #2c344b;
  --clr-neutral-900: #121725;

  --clr-warn-400: #fb3e3e;

  // ** font sizes
  --fs-200: 0.75rem;   // 12px
  --fs-300: 0.875rem;  // 14px
  --fs-400: 0.9375rem; // 15px
  --fs-900: 1.625rem;  // 26px

  // ** font weights
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --spacer: 1rem;
  --br: 1.75rem; // 28px
}

// tablet
@media screen and (min-width: 768px) {
  :root {
    --fs-400: 1.125rem; // 15px > 18px
    --fs-900: 3rem;     // 26px > 48px
  }
}
